/* Overrides user agent style code blocks */
.highlight {
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Overrides the font-family */
html {
    font-family: "Roboto-Condensed", Helvetica, Arial, sans-serif;
}

/* About section */
.sidebar-about h1 {
    font-family: "Roboto", serif;
}

/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */
 .pagination {
    font-family: "Roboto-Condensed", Helvetica, Arial, sans-serif;
  }

/* Content footer for Copyright and Attribution */
.copyright-footer {
    display: block;
    line-height: 1.75;
    font-size: 0.8rem;
    max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * Post Metadata
 */

.row {
    display: table;
}

.column {
    display: table-cell;
}

.categories-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.pill-container {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: #ac4142;
}

#pill {
    padding: 0 15px;
    color: white;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
