:root {
    --pill-background-color: #ac4142;
    --pill-text-color: white;
    --sidebar-background-color: #202020;
    --sidebar-links-color: #fff;
    --sidebar-about-text-color: #fff;
    --theme-color: #ac4142;
    --body-color: #515151;
    --body-background-color: #fff;
    --links-visited-color: #268bd2;
    --headings-text-color: #313131;
    --strong-text-color: #303030;
    --hr-border-top-color: #eee;
    --hr-border-bottom-color: #fff;
    --abbr-text-color: #555;
    --abbr-title-text-color: #e5e5e5;
    --code-text-color: #bf616a;
    --code-background-color: #f9f9f9;
    --pre-background-color: #f9f9f9;
    --pre-code-background-color: transparent;
    --blockquote-color: #7a7a7a;
    --blockquote-border-left-color: #e5e5e5;
    --table-border-color: #e5e5e5;
    --table-background-color: #f9f9f9;
    --post-title-color: #303030;
    --post-date-color: #9a9a9a;
    --pagination-color: #ccc;
    --pagination-item-color: #eee;
    --pagination-link-hover-background-color: #f5f5f5;
}
