/* Overrides the font-family */
html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ECEFF1;
}

#container {
    margin: auto;
    max-width: 800px;
    padding: 24px;
}

#name-header {
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    /* margin: 12px; */
}

#about-me {
    text-align: start;
    font-size: larger;
    /* margin: 12px; */
}

#social-footer {
    text-align: end;
    font-size: medium;
    /* margin: 12px; */
}